body {
    background-image: url("/BLKRN/image/BG.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
  }

.form-control {
    margin-top: .5rem;
}
.btn {
    position: relative; top: .5rem;
}
.rounded-circle {
    width: 3rem;
    margin-right: 1rem;
    border: solid 1px #d3d3d3;
}
.navbar-nav {
    margin-right: 3rem;
}
.navbar {
    border-bottom: solid 2px #d3d3d3;
    background: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
}
.nav-link {
    margin-right: .5rem;
}
.dropdown-menu {
    padding-left: 1rem !important ;
    padding-right: 1rem !important ;
}
.msg-box {
    position: absolute;
    right: .5rem;
    font-family: Segoe UI;
    color:#fff;
    padding:1rem;
    margin: .5rem;
    background-color:#c94444;
    opacity: 0.7;
    border-radius: .5rem;
}

.form-control {
    border-bottom: solid 2px #d3d3d3;
    border-radius: .75rem !important;
    background: rgba(0, 0, 0, 0.0) !important;
    color: #fff !important;
    margin-left: 1rem;
}
#login-btn {
    margin-bottom: .5rem !important;
    margin-left: .5rem;
    border-radius: .75rem;
    background-image: linear-gradient( #6c95de , #3e56ac);
    color: #000000;
    border: solid 2px #9bb9eb;
    color: #fff !important;
    text-shadow: #3e56ac;
}
#login-btn:hover {
    background-image: linear-gradient( #ffd921 , #ffab1d);
    border: solid 2px #fdd55e;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
