RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/image/(.+)$
RewriteCond $1 !^(css|images|core)

RewriteRule ^(.+)$ index.php/$1 [L]